@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{
margin:0; padding:0;
font-family:'Do Hyeon', sans-serif;
color:#49525c;
}

.vl{
  display: inline-block;
  border-right:3px solid #764ba2;
  height: 120px;
}



.content {
  width: 80%;
  height: 10rem;
  border: 1px solid #333;
  overflow-y: scroll;  
  box-shadow: 4px 4px 3px #444;
  padding: 5px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  font-size: 0.6em;
  margin-bottom:20px;
}
ul {
  list-style:none;
  margin: 10px;
}
#news_title{
  color:#4f5257;
}
li{
  padding:10px;
  color:#49525c;
  font-size: 1em;
  margin-bottom: 10px;
  border-bottom:1px solid #49525c;
}
li a {  
  color:#49525c;
  text-decoration:none;
}

li a:hover {
   text-decoration:underline; 
   color: #1e88e5;
}

#footer{
  height:300px;
}

/*pc화면*/
@media screen and (min-width:1025px){

  body{width:980px;
		 margin:0 auto;
		 border:1px solid lightgray;
     border-radius:5px}
     
     li{
      font-size:2em;
    }


}
