body {
  padding: 0px !important;
  margin: 0px !important;
}

#current {
  position: absolute;
  top: 70px;
  left: 20px;
  padding: 15px;
  z-index: 10000;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
}

#map {
  width: 100%;
  height: 100%;
}

#search {
  position: absolute;
  top: 70px;
  left: 150px;
  padding: 15px;
  z-index: 10000;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
}

#search_input {
  border: none;
}

#search_input:focus {
  outline: none;
}

.marker {
  border: 1px solid black;
  background: green;
  opacity: 0.8;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.myPosition {
  background-color: blue;
}

.infowindow_wrap {
  background: white;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.infowindow_name {
  font-size: 15px;
  font-weight: bolder;
}

.infowindow_count {
  font-size: 13px;
  font-weight: normal;
}

.infowindow_congestion {
  font-size: 13px;
  font-weight: normal;
}

.infowindow_notice {
  font-size: 13px;
  font-weight: bold;
  color: red;
  /* text-align: center; */
}

#roadview {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.search__url {
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-left: 4px;
  transition: all 300ms ease-in;
}

.search__url:hover {
  color: red;
}

.infowindow_roadmap {
  margin-top: 4px;
}
