body {
  padding: 0px !important;
  margin:0px !important;
}   

#current {
  position: absolute;
  top: 70px;
  left: 20px;
  padding: 15px;
  z-index: 10000;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  cursor:pointer;
  font-weight: bolder;
}

#search {
  position: absolute;
  top:70px;
  left:150px;
  padding: 15px;
  z-index: 10000;
  background: white;
  border: 1px solid  rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;  
}

#search_input {
  border: none;
}

#search_input:focus {
  outline:none;
}

.marker {
  border: 1px solid black;
  background: green;
  opacity: 0.8;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.infowindow_wrap{
  background: white;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.infowindow_name {
  font-size: 15px;
  font-weight: bolder;
}

.infowindow_count {
  font-size: 13px;
  font-weight: normal;
}

.infowindow_congestion {
  font-size: 13px;
  font-weight: normal;
}